<div style="text-align: center">
    <p align="center">Учусь в ЛЭТИ,люблю программирование, электронную музыку, хорошенько поиграть в WoW и иногда подумать о захвате мира!</p>
    <img src="~/Images/Catch.jpg" width="480" height="480"/>
    <figcaption>
        Тот самый момент, когда ты уже готов запустить ракету, но что-то тебя останавливает...
    </figcaption>
</div>

